<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42978903233-98v2dmf6288g06i8mmnc23h63u0bgv4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42978903233-98v2dmf6288g06i8mmnc23h63u0bgv4g</string>
	<key>API_KEY</key>
	<string>AIzaSyDelJFCBMmPoWBE5R-jgb8quj41DHuybDg</string>
	<key>GCM_SENDER_ID</key>
	<string>42978903233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocPhotoLibrary</string>
	<key>PROJECT_ID</key>
	<string>bloc-photo-library-example</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-photo-library-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42978903233:ios:c17e23ab8c8bb157a3c040</string>
</dict>
</plist>